*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
 Utilities
 */

h1 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.5em;
}
h2 {
    font-size: 3em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
p {
    font-size: 1.3em;
}
ul {
    list-style: none;
}

.centered-100 {
    width: 100%;
    min-width: 1500px;
}
.centered-80 {
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
}
.centered-60 {
    width: 60%; 
    min-width: 900px;   
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Effetti colorati sui tag */
.bg-button {
    border: none;
    /* height: 40px; */
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 300;
    
}
.bg-blue {
    background-color: rgb(0, 97, 255);
    color: white;
}
.bg-white {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.bg-black {
    background-color: black;
    color: white;
}
.bg-lightblue{
    background-color: rgb(180, 208, 231);
}
.underline {
    border-bottom: 1px solid;
}
.upperline {
    border-top: 1px solid;
}
.borderline-grey {
    border-color: rgb(144, 144, 144);
}

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.column40 {
    width: 40%;
}
.column60 {
    width: 60%;
}
.mrg-bot15 {
    margin-bottom: 15px;
}
.mrg-bot30 {
    margin-bottom: 30px;
}
.mrg-bot45 {
    margin-bottom: 45px;
}
.mrg-bot60 {
    margin-bottom: 60px;
}
.mrg-top45 {
    margin-top: 45px;
}
.mrg-top200 {
    padding-top: 200px;
}
.mrg-rgt30 {
    margin-right: 30px;
}
.pdd-rgt45 {
    padding-right: 45px;
}
.pdd-lft45 {
    padding-left: 45px;
}
.pdd-bot30 {
    padding-bottom: 30px;
}
.pdd-top30 {
    padding-top: 30px;
}
/* 
Fine Utilities
*/

.top-bar {
    padding: 10px 20px;
}
.top-bar .top-bar-content > *{
    height: 50px;
    line-height: 50px;
}
.top-bar .top-bar-content .logo {
    line-height: 44px;
}
.top-bar .top-bar-content .logo img {
    vertical-align: middle;
}
.top-bar .top-bar-content .list-links a {
    text-decoration: none;
    color: black;
    margin: 0 30px;
}


.jumbo .row .column60 {
    width: 60%;
}
.jumbo .row .column60 img {
    width: 100%;
    max-width: 920px;
}
.jumbo .row .icon i {
    font-size: 2em;
}

.column33 {
    width: calc(33.33% - 30px);
}
.column33:nth-child(3n+2) {
    margin: 0 45px;
}

.content .text-plan {
    padding: 30px 15px;
}
.content .plan-title {
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
}
.content .border-grey {
    border: 1px solid rgb(144, 144, 144);
}
.container-plans .column33 {
    height: 1200px;    
}
.container-plans .column33 .bg-button {
    width: 100%;
}
/* .container-plans .column33:nth-child(2) {
    margin: 0 45px;
} */
.container-plans .column100 {
    width: 100%;
}
.container-plans .column100 .bg-button {
    padding: 10px 60px
}
.container-plans li i {
    color: rgb(0, 97, 255);
}

.container-partner .photo-partner,
.container-partner .text-partner {
    display: inline-block;
}
.container-partner .photo-partner {
    width: 59%;    
    vertical-align: middle;
}
.container-partner .photo-partner img {
    width: 100%;    
}
.container-partner .text-partner {
    width: 40%;    
    vertical-align: middle;
}

.container-operations .photo-operations,
.photo-operations img {
    width: 100%;
}
.operations-footer {
    width: 50%;
}

.members .members30 {
    width: 30%;
}
.members .members40 {
    width: 40%;
    height: 500px;
}
.container-members .member {
    width: 50%;
    height: 250px;
    border: 10px splid transparent;
}
.container-members img {
    width: 120px;
}
.container-members .member img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    filter: invert(1);
}
.container-members .bg-green {
    background-color: rgb(162, 211, 155);
    border-color: rgba(255, 255, 255, 0.5);
}
.container-members .bg-darkred {
    background-color: rgb(97, 8, 43);
}
.container-members .bg-softblue {
    background-color: rgb(0, 147, 206);
}
.container-members .bg-red {
    background-color: red;
}
.container-members .bg-dirtwhite {
    background-color: rgb(245, 245, 245);
}
.container-members .bg-blue {
    background-color: blue;
}
.container-members .bg-yellow {
    background-color: rgb(255, 216, 48);
}
.container-members .members40 {
    padding: 40px;
}
.members-trial h2 {
    width: 50%;
}
.members-trial {
    padding: 100px 0;
}

.asked-questions li > * {
    line-height: 80px;
    height: 80px;
}

.container-footer {
    padding: 100px 0;
}
.container-footer ul {
    width: 20%;
}
.container-footer li {
    line-height: 30px;
}
.container-footer h4,a {
    color: white;
}
.container-footer a {
    font-size: 1.2em;
    text-decoration: none;
}

.language {
    color: grey;
    width: 10%;
}

.language i:last-child {
    vertical-align: bottom;
}
