*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
 Utilities
 */

a {    
    text-decoration: none;
}
h1 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.5em;
}
h2 {
    font-size: 3em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.3em;
}
ul {
    list-style: none;
}

.centered-100 {
    width: 100%;
}
.centered-80 {
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
}
.centered-60 {
    width: 60%; 
    min-width: 900px;   
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Effetti colorati sui tag */
.bg-button {
    background-color: rgb(0, 97, 255);
    border: none;
    /* height: 40px; */
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
}
.bg-lightblue{
    background-color: rgb(180, 208, 231);
}
.underline-grey {
    border-bottom: 1px solid rgb(144, 144, 144);
}

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.column40 {
    width: 40%;
}
.column60 {
    width: 60%;
}
.mrg-bot15 {
    margin-bottom: 15px;
}
.mrg-bot30 {
    margin-bottom: 30px;
}
.mrg-bot45 {
    margin-bottom: 45px;
}
.mrg-bot60 {
    margin-bottom: 60px;
}
.mrg-top45 {
    margin-top: 45px;
}
.mrg-rgt30 {
    margin-right: 30px;
}
.pdd-rgt45 {
    padding-right: 45px;
}
.pdd-bot30 {
    padding-bottom: 30px;
}
/* 
Fine Utilities
*/

.top-bar {
    padding: 10px 20px;
}
.top-bar .top-bar-content > *{
    height: 50px;
    line-height: 50px;
}
.top-bar .top-bar-content .logo {
    line-height: 44px;
}
.top-bar .top-bar-content .logo img {
    vertical-align: middle;
}
.top-bar .top-bar-content .list-links a {
    margin: 0 30px;
    color: black;
}


.jumbo .row .column60 {
    width: 60%;
}
.jumbo .row .column60 img {
    width: 100%;
    max-width: 920px;
}
.jumbo .row .icon i {
    font-size: 2em;
}

.content {
    margin-top: 200px;
}
.content .text-plan {
    padding: 30px 15px;
}
.content .plan-title {
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
}
.content .border-grey {
    border: 1px solid rgb(144, 144, 144);
}
.content .container-plans .column33 {
    width: calc(33.33% - 30px);
    height: 1200px
    
}
.content .column33 .bg-button {
    width: 100%;
}
.content .container-plans .column33:nth-child(2) {
    margin: 0 45px;
}
.content .container-plans .column100 {
    width: 100%;
}
.content .column100 .bg-button {
    padding: 10px 60px
}

/* Freccietta per le liste nei container
span{
    color: rgb(0, 97, 255);
} */